@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: #49fd73;
    font-family: "Yanone Kaffeesatz", sans-serif;
  }
  
  .cart-button {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: #888;
    font-family: "Josefin Sans", sans-serif;
    transition: all 0.3s;
  }

  .cart-button:hover {
    color: #464646;
  }
  